*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(rgb(50, 108, 225),rgb(203, 211, 51));
}
.form{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(rgb(50, 108, 225),rgb(203, 211, 51));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1{
   margin: 1rem;
}
p{
    margin: 0.5rem;
    font-weight: bolder;
}
label{
    font-family: sans-serif;
    margin-top: 0.5rem;
    font-weight:lighter;
}
input{
    padding-left: 5px;
    border-radius: 3px;
    height: 35px;
    width: 80%;
    margin-left: 10%;
    border: none;
}
button{
    background-color: rgb(50, 108, 225,0.8);
    height: 40px;
    margin: 2rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
#success{
    border: 1.5px solid green;
}
#eyes{
    float: right;
    border: none;
    background-color: black;
}
#errorpswrd{
    color: red;
}
.erremail{
    color: red;
}
#match{
    color: red;
}
#date{
    color: red;
}